﻿@model RelatorioVM

@{
    IList<RelatorioVM> relatorios = ViewBag.Relatorios;
    Layout = "~/Views/Shared/_LayoutAluno.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />
<div class="row justify-content-center" id="mensagens">
    <div class="col-sm-8 bg-dark" id="chat" style="width: 400px; height: 500px; overflow-y: scroll;">

        <ol class="chat">
            @foreach (var item in relatorios)
            {
            <li class="@item.Align">
                <div class="msg">
                    @if (item.Align.Equals("other"))
                    {
                        <div class="user">@item.Responsavel</div>
                    }
                    <p>@item.Descricao</p>

                    @if (item.IsFile)
                    {
                    <p title="Clique para baixar o arquivo.">
                        <a target="_blank" href="~/Upload/Relatorios/@item.EstagioId/@item.NameFile"><i class="fa fa-file-word-o-arrow-down  fa-4x"></i></a>
                    </p>
                    }
                    <time><i class="fa fa-clock-o"></i>@item.Data</time>
                </div>
            </li>
            }
        </ol>
    </div>
</div>

<form asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="EstagioId"  />
    <div class="row justify-content-center" id="write-menssagem">
        <input type="file" class="d-none" asp-for="File" accept="application/msword, application/pdf " />
        <div class="col-sm-8">
            <div class="row mb-5">
                <div class="input-group ">
                    <div class="input-group-prepend c-pointer" id="upload">
                        <span class="input-group-text " id="message" data-toggle="tooltip" title="Nenhum arquivo.">
                            <i class="fa fa-plus-circle"></i>
                        </span>
                    </div>
                    <textarea asp-for="Descricao" class="form-control" aria-label="With textarea" placeholder="Escreva sua mensagem..."></textarea>
                    <div class="input-group-prepend c-pointer">
                        <button data-toggle="tooltip" title="Enviar" type="submit" class="input-group-text" style="border-radius:0 5px 5px 0"><i class="fa fa-send-o"></i> </button>
                    </div>
                </div>
                <span asp-validation-for="Descricao"></span>
            </div>
        </div>
    </div>
</form>



@section Scripts{
    <script type="text/javascript">

        $("#upload").click(function () {
            $("#File").click();
            $("#message").attr("data-original-title", "Nenhum arquivo.")
        });

        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#message").attr("data-original-title", fileName)
        });
        
    </script>
}

