﻿@inject IUser _user
@inject INotificacao _notify
@{
    Layout = null;
    var nome = _user.Nome;
}

<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        @@media (max-width: 576px) {
            .d-none-titulo {
                display: none !important;
            }
        } 
        .c-pointer {
            cursor: pointer;
        }

        .height-top {
            padding-top: 110px;
        }

        body {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }

        main {
            flex: 1 0 auto;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JOE - IFG</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
        <div class="container-fluid">
            <span class="navbar-brand js-scroll-trigger"><img src="~/images/download.png" width="25" alt="Alternate Text" /> </span>
            <div class="navbar-nav-scroll d-none-titulo">
                <ul class="navbar-nav bd-navbar-nav flex-row">
                    <li class="nav-item">
                        <span class="nav-link "> Bem vindo, <b> @nome </b></span>
                    </li>
                </ul>
            </div>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger c-pointer" href="@Url.Action("Index","Home", new { area = "Admin" })">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger c-pointer" href="@Url.Action("Index","Estagio", new { area = "Admin" })">Novo Estágio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger c-pointer" href="@Url.Action("Index","Alunos", new { area = "Admin" })">Alunos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger c-pointer" href="@Url.Action("Index","Professores", new { area = "Admin" })">Professores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger c-pointer" href="@Url.Action("Index","Cursos", new { area = "Admin" })">Cursos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger c-pointer" href="@Url.Action("Index","Empresas", new { area = "Admin" })">Empresas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger c-pointer" href="@Url.Action("Logout","Home", new { area = "" })">Sair</a>
                    </li>
                </ul>
            </div>
        </div>

    </nav>

    <!-- Body -->
    <main>
        <div class="masthead">
            <div class="container-fluid height-top">
                @RenderBody()
            </div>
        </div>
    </main>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">&copy; 2018-@DateTime.Now.Year</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item">
                            <a href="#">Privacy Policy</a>
                        </li>
                        <li class="list-inline-item">
                            <a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Html.PartialAsync("_ValidationScriptsPartial")
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        alertify.set('notifier', 'position', 'top-right');
            @if (Servicos.Notificacoes.Count > 0)
            {
                foreach (string item in Servicos.Notificacoes.Reverse())
                {
                    var a = item;
                    @:  @Html.Raw(a)

                }
                Servicos.Notificacoes.Clear();
            }

    </script>
</body>
</html>