﻿@await Html.PartialAsync("_ValidationScriptsPartial")
@model ProfessorVM
@{
    Layout = null;
}

<div class="row">
    <input type="hidden" asp-for="Id" />
    <div class="col-sm-8 col-12">
        <label>Nome*:</label>
        <input type="text" class="form-control" asp-for="Nome" placeholder="Nome..." autofocus />
        <span asp-validation-for="Nome"></span>
    </div>
    <div class="col-sm-4 col-12" id="row-matricula">
        <label>Matricula*:</label>
        <input type="number" class="form-control" asp-for="Matricula" placeholder="Matricula..." />
        <span asp-validation-for="Matricula"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-12">
        <label>Cidade*:</label>
        <input type="text" class="form-control" asp-for="Cidade" placeholder="Cidade..." />
        <span asp-validation-for="Cidade"></span>
    </div>
    <div class="col-sm-7 col-12">
        <label>Endereço*:</label>
        <input type="text" class="form-control" asp-for="Endereco" placeholder="Endereço..." />
        <span asp-validation-for="Endereco"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-12">
        <label>Email*:</label>
        <input type="email" class="form-control" asp-for="Email" placeholder="Email..." />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="col-sm-4 col-12">
        <label>Telefone*:</label>
        <input type="text" class="form-control" asp-for="Telefone" />
        <span asp-validation-for="Telefone"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label>Professor em*:</label>
        <select multiple="multiple" class="form-control" asp-for="CursoId" asp-items="@Model.Cursos">            
        </select>
        <span asp-validation-for="CursoId"></span>
    </div>
</div>


<script type="text/javascript">
    $("#CursoId").multiselect();
    $("#Telefone").mask('(00) 0 0000-0000');
    $("#Telefone").attr('placeholder', '(__) _ ____-____')
</script>