﻿@await Html.PartialAsync("_ValidationScriptsPartial")
@model EstagioVM
@{
    Layout = null;
}
<div class="row">
    <input type="hidden" asp-for="Id"/>
    <div class="col-sm-12">
        <label>Aluno*:</label>
        <select asp-for="AlunoId" asp-items="@Model.Alunos" class="form-control">
            <option value="0" selected disabled>Escolha o Aluno</option>
        </select>
        <span asp-validation-for="AlunoId"></span>
    </div>
</div>
<div class="row " id="row-orientador">
    <div class="col-sm-12">
        <label>Orientador*:</label>
        <select asp-for="OrientadorId" class="form-control" asp-items="@Model.Orientadores">
            <option value="0" selected disabled>Escolha o Orientador</option>
        </select>
        <span asp-validation-for="OrientadorId"></span>
    </div>
</div>
<div class="row ">
    <div class="col-sm-12">
        <label>Empresa*:</label>
        <select asp-for="EmpresaId" class="form-control" asp-items="@Model.Empresa">
            <option value="0" selected disabled>Escolha a Empresa</option>
        </select>
        <span asp-validation-for="EmpresaId"></span>
    </div>
</div>
<div class="row ">
    <div class="col-sm-12">
        <label>Supervisor*:</label>
        <input type="text" asp-for="Supervisor" class="form-control" placeholder="Supervisor..." />
        <span asp-validation-for="Supervisor"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <label>Previsão fim do estágio*: <span id="mensagem" class="badge badge-dark" data-toggle="tooltip" data-placement="top" title="Partir dessa data será contabilizados 90 dias para a entrega do relatório de estágio.">?</span> </label>
        <input type="text" asp-for="Previsao" class="form-control" />
        <span asp-validation-for="Previsao"></span>
    </div>
</div>