﻿@model ICollection<EstagioVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row mb-3 ">
    <div class="col-12 text-center">
        <button data-id="0" id="modal-open" class="btn btn-success"><i class="fa fa-plus-circle"></i> Cadastrar</button>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table id="table" class="table table-sm table-hover table-bordered table-responsive-lg datatables">
                <thead class="thead-dark">
                    <tr>
                        <th width="15px">#</th>
                        <th>Estágiario</th>
                        <th>Orientador</th>
                        <th>Empresa</th>
                        <th>Prazos</th>
                        <th width="15px"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Estagiario</td>
                            <td>@item.Orientador</td>
                            <td>@item.EmpresaName</td>
                            <td>
                                <b>Fim do Estágio: </b> @item.PrevisaoEstagio <br />
                                <b> Entrega do relatório: </b> @item.Relatorio.ToShortDateString()
                            </td>
                            <td class="text-nowrap">
                                <button data-toggle="tooltip" title="Editar" data-placement="left" data-id="@item.Id" type="button" class="btn btn-info edit"><i class="fa fa-edit"></i>  </button>
                                <button data-toggle="tooltip" title="Finalizar" data-placement="left" data-id="@item.Id" type="button" class="btn btn-dark finalizar"><i class="fa fa-exclamation-circle ">  </i>  </button>
                                <button data-toggle="tooltip" title="Apagar" data-placement="left" data-id="@item.Id" type="button" class="btn btn-danger del"><i class="fa fa-times-circle"></i>  </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" id="modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form asp-action="Index" method="post">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title">Cadastrar Estágio</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i>  Fechar</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">

        $(".finalizar").click(function () {
            var id = $(this).data("id")
            alertify.confirm("ATENÇÃO","Este estágio já foi finalizado?",
                function () {
                    window.location.href = '@Url.Action("Finalizar")' + '?id=' + id;
                },
                function () { });
        });

        $("#modal-open, .edit").click(function () {
            $("#modal").modal("show")
            var id = $(this).data("id");
            $.post('@Url.Action("AjaxEstagio")', { "id": id }, function (response) {
                $("#modal-body").html(response);
                if (id == 0) {
                    $(".modal-title").text("Cadastrar Estágio");
                } else {
                    $(".modal-title").text("Editar Estágio");
                }
                Iniciar();
                $("#mensagem").tooltip();
                $("#Previsao").datetimepicker({
                    format: 'L',
                    format : 'DD/MM/YYYY'
                });
            });
        })

        $(".del").click(function () {
            var id = $(this).data("id")
            alertify.confirm("ATENÇÃO","Tem certeza que deseja apagar este Estágio?",
                function () {
                    window.location.href = '@Url.Action("Delete")' + '?id=' + id;
                },
                function () { });
        });

        function Iniciar() {
            $("#AlunoId").change(function () {
                $("#row-orientador").removeClass("d-none")
                $("#OrientadorId").html("")
                $("#EmpresaId").html("")
                $("#Supervisor").val("")
                var pardrao = $("<option>").val(0).text("Escolha a Empresa").attr("selected", true).attr("disabled", true)
                $("#EmpresaId").append(pardrao)
                $.post('@Url.Action("JsonOrientadores")', { id: $(this).val() }, function (response) {
                    var pardrao = $("<option>").val(0).text("Escolha o Orientador").attr("selected", true).attr("disabled", true)
                    $("#OrientadorId").append(pardrao)
                    for (var i = 0; i < response.length; i++) {
                        var option = $("<option>").val(response[i].Id).text(response[i].Nome)
                        $("#OrientadorId").append(option)
                    }
                },"json");
            });

            $("#OrientadorId").change(function () {
                $(".row-empresa").removeClass("d-none")
                $("#EmpresaId").html("")
                $("#Supervisor").val("")
                $.post('@Url.Action("JsonEmpresas")', { id: 0 }, function (response) {
                    var pardrao = $("<option>").val(0).text("Escolha a Empresa").attr("selected", true).attr("disabled", true)
                    $("#EmpresaId").append(pardrao)
                    for (var i = 0; i < response.length; i++) {
                        var option = $("<option>").val(response[i].Id).text(response[i].Nome)
                        $("#EmpresaId").append(option)
                    }
                }, "json");
            });
        }
</script>
}
