﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAluno.cshtml";
}

<style>
    @@media (max-width: 576px) {
        .d-none-titulo {
            display: none !important;
        }

        .d-none-tela {
            display: block
        }
    }

    @@media (min-width: 576px) {
        .d-none-tela {
            display: none !important;
        }
    }


    .hover:hover {
        padding: 8px;
        color: #35982E;
    }
</style>



<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-sm-4 col-12">
            <span class="font-weight-bold">Ficha de Auto Avaliação do Estágio - Estagiário</span>
            <hr />
        </div>
        <div class="col-sm-4 col-12 d-none-titulo ">
            <span class="font-weight-bold">Ficha para Avaliação do Estagiário - Supervisor</span>
            <hr />
        </div>
        <div class="col-sm-4 col-12 d-none-titulo ">
            <span class="font-weight-bold">Ficha de Frequência</span>
            <hr />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-sm-1 col-12  c-pointer">
            <a href="~/Upload/Donwload/13 - Ficha de Auto Avaliação do Estágio - Estagiário.doc" title="Ficha de Auto Avaliação do Estágio - Estagiário">
                <span class="fa fa-file-word-o-arrow-down fa-4x"></span>
            </a>
        </div>

        <div class="offset-sm-3  col-sm-1 col-12  c-pointer d-none-titulo">
            <a href="~/Upload/Donwload/14 - Ficha para Avaliação do Estagiário - Supervisor.doc" title="Ficha para Avaliação do Estagiário - Supervisor">
                <span class="fa fa-file-word-o-arrow-down fa-4x"></span>
            </a>
        </div>

        <div class="offset-sm-3  col-sm-1 col-12  c-pointer d-none-titulo">
            <a download="true" target="_blank" href="~/Upload/Donwload/Frequencia.jpg" title="Ficha de Frequência">
                <span class="fa fa-file-word-o-arrow-down fa-4x"></span>
            </a>
        </div>

    </div>

    <div class="row d-none-tela mb-3">
        <div class="col-12 ">
            <span class="font-weight-bold">Ficha para Avaliação do Estagiário - Supervisor</span>
            <hr />
        </div>
        <div class="col-12 hover">
            <i class="fa fa-file-word-o-arrow-down fa-4x " title="Ficha para Avaliação do Estagiário - Supervisor">
                <a href="~/Upload/Donwload/14 - Ficha para Avaliação do Estagiário - Supervisor.doc"></a>   
            </i>
        </div>
    </div>

    <div class="row d-none-tela mb-3">
        <div class="col-12 ">
            <span class="font-weight-bold">Ficha de Frequência</span>
            <hr />
        </div>
        <div class="col-12 hover">
            <i class="fa fa-file-word-o-arrow-down fa-4x " title="Ficha de Frequência">
                <a href="~/Upload/Donwload/Frequencia.jpg"></a>
            </i>
        </div>
    </div>

</div>

