﻿@model JOE.Models.Login.LoginVM

<form class="form-signin" method="post" asp-controller="Home" asp-action="Index">
    <img class="mb-4" src="~/images/JOE.PNG" alt="">
    @if (TempData["Erro"] != null)
    {
        <span class="text-center text-danger">Matricula ou senha inválido.</span>
    }
    <label for="inputEmail" class="sr-only">Matricula</label>
    <input type="number" id="inputEmail" asp-for="Matricula" class="form-control" placeholder="Matricula" autofocus required>
    <span asp-validation-for="Matricula"></span>
    <label for="inputPassword" class="sr-only">Senha</label>
    <input type="password" id="inputPassword" asp-for="Senha" class="form-control" placeholder="Senha" required>
    <span asp-validation-for="Senha"></span>
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2018-@DateTime.Now.Year</p>
</form>
