﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAluno.cshtml";
}

<style>
    @@media (max-width: 576px) {
        .d-none-titulo {
            display: none !important;
        }
        .d-none-tela{
            display:block
        }
    }

    @@media (min-width: 576px) {
        .d-none-tela {
            display: none !important;
        }
    } 


    .hover:hover {
        padding: 8px;
        color: #35982E;
    }
</style>



<div class="container-fluid mb-4">
    <div class="row">
        <div class="col-sm-6 col-12">
            <span class="font-weight-bold">Manual de Elaboração do Relatório de Estágio</span>
            <hr />
        </div>
        <div class="col-sm-6 col-12 d-none-titulo ">
            <span class="font-weight-bold">Modelo do Relatório de Estágio</span>
            <hr />
        </div>
    </div>

    <div class="row">
        <div class="col-sm-1 col-12 hover c-pointer">
            <a href="~/Upload/Donwload/15 -  Manual de Elaboração do Relatório de Atividades de Estágio.doc" title="Manual de Elaboração do Relatório de Estágio">
                <span class="fa fa-file-word-o-arrow-down fa-4x" ></span>
            </a>
        </div>
        <div class="col-sm-1 offset-sm-5 col-12 hover c-pointer d-none-titulo">
            <a href="~/Upload/Donwload/16 - Modelo do Relatório de Estágio.doc" title="Modelo do Relatório de Estágio">
                <span class="fa fa-file-word-o-arrow-down fa-4x"></span>
            </a>
        </div>
    </div>

    <div class="row d-none-tela">
        <br />
        <div class="col-sm-6 col-12 ">
            <span class="font-weight-bold">Modelo do Relatório de Estágio</span>
            <hr />
        </div>
        <div class="col-sm-1 offset-sm-5 col-12 hover c-pointer">
            <a href="~/Upload/Donwload/16 - Modelo do Relatório de Estágio.doc" title="Modelo do Relatório de Estágio">
                <span class="fa fa-file-word-o-arrow-down fa-4x"></span>
            </a>
        </div>
    </div>

</div>