﻿@model ICollection<RelatorioVM>
@{
    Layout = null;
}

<ol class="chat">
    @foreach (var item in Model)
    {
        <li class="@item.Align">
            <div class="msg">
                @if (item.Align.Equals("other"))
                {
                    <div class="user">@item.Responsavel</div>
                }

                <p>@item.Descricao</p>

                @if(item.IsFile){
                    <p title="Clique para baixar o arquivo.">
                    <a download target="_blank" href="~/Upload/Relatorios/@item.EstagioId/@item.NameFile"><i class="fa fa-file-word-o-arrow-down  fa-4x"></i></a>
                </p>
                }          
                <time><i class="fa fa-clock-o"></i>@item.Data</time>
            </div>
        </li>
    }
</ol>

