﻿@model RelatorioVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOrientador.cshtml";
}

<link href="~/css/style.css" rel="stylesheet" />
<div class="row justify-content-center mb-2">
    <div class="col-sm-8">
        <label>Orientando:</label>
        <select class="form-control" asp-items="@Model.Orientandos" id="orientando" asp-for="IdSelected" >
            <option selected value="0">Escolha o Orientado</option>
        </select>
    </div>
</div>

<div class="row justify-content-center d-none" id="mensagens">
    <div class="col-sm-8 bg-dark" id="chat" style="width: 400px; height: 500px; overflow-y: scroll;"></div>
</div>

<form asp-action="Index" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="EstagioId" />
    <div class="row justify-content-center d-none" id="write-menssagem">
        <input type="file" class="d-none" asp-for="File" accept="application/msword, application/pdf " />

        <div class="col-sm-8">
            <div class="row mb-5">
                <div class="input-group ">
                    <div class="input-group-prepend c-pointer" id="upload">
                        <span class="input-group-text " id="message" data-toggle="tooltip" title="Nenhum arquivo.">
                            <i class="fa fa-plus-circle"></i>
                        </span>
                    </div>
                    <textarea asp-for="Descricao" class="form-control" aria-label="With textarea" placeholder="Escreva sua mensagem..."></textarea>
                    <div class="input-group-prepend c-pointer">
                        <button data-toggle="tooltip" title="Enviar" type="submit" class="input-group-text" style="border-radius:0 5px 5px 0"><i class="fa fa-send-o"></i> </button>
                    </div>
                </div>
                <span asp-validation-for="Descricao"></span>
            </div>
        </div>
    </div>
</form>



@section Scripts{
    <script type="text/javascript">

        var valor = $("#orientando").val();        
        if (valor != "0") {
            AjaxChat(valor)
            $("#write-menssagem").removeClass("d-none")
            $("#mensagens").removeClass("d-none")
        }

        $("#upload").click(function () {
            $("#message").attr("data-original-title","Nenhum arquivo.")
            $("#File").click();
        });

        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;            
            $("#message").attr("data-original-title", fileName)
        });

        $("#orientando").change(function () {
            var id = $(this).val();
            $("#EstagioId").val(id);
            $("#write-menssagem").removeClass("d-none")
            $("#mensagens").removeClass("d-none")
            AjaxChat(id);

        })

        function AjaxChat(id) {
            $.post('@Url.Action("AjaxRelatorios")', { id: id }, function (response) {
                $("#chat").html(response)
                $("textarea").css("resize", "none")

            });
        }

    </script>
}

