﻿@await Html.PartialAsync("_ValidationScriptsPartial")
@model CursosVM
@{
    Layout = null;
}

<input type="hidden" asp-for="Id" />
<div class="row">
    <div class="col-sm-12">
        <label asp-for="Descricao">Nome: </label>
        <input type="text" class="form-control" asp-for="Descricao" placeholder="Curso..." />
        <span asp-validation-for="Descricao"></span>
    </div>
</div>