﻿@model ICollection<CursosVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row mb-3 ">
    <div class="col-12 text-center">
        <button data-id="0" id="modal-open" class="btn btn-success"><i class="fa fa-plus-circle"></i> Cadastrar</button>
    </div>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-sm-10">
            <table id="table" class="table table-sm table-hover table-bordered table-responsive-lg datatables">
                <thead class="thead-dark">
                    <tr>
                        <th width="15px">#</th>
                        <th>Curso</th>
                        <th>Instiuição</th>
                        <th width="15px"></th>                        
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Descricao</td>
                            <td>@item.Instituicao</td>                            
                            <td class="text-nowrap">
                                <button data-toggle="tooltip" title="Editar" data-placement="left" data-id="@item.Id" type="button" class="btn btn-info edit"><i class="fa fa-edit"></i></button>
                                <button data-toggle="tooltip" title="Apagar" data-placement="left" data-id="@item.Id" type="button" class="btn btn-danger del"><i class="fa fa-times-circle"></i>  </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" data-backdrop="static" id="modal" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <form asp-action="Index" method="post">
                <div class="modal-header bg-dark text-white">
                    <h5 class="modal-title">Cadastrar Cursos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i>  Fechar</button>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle"></i> Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
        $("#modal-open, .edit").click(function () {
            var id = $(this).data("id");
            $.post('@Url.Action("AjaxCurso")', { "id": id }, function (response) {
                $("#modal-body").html(response);
                if (id != 0) {
                    $(".modal-title").text("Editar Curso")
                } else {
                    $(".modal-title").text("Cadastrar Curso")
                }
                $("#modal").modal("show");
            })
        });

        $(".del").click(function () {
            var id = $(this).data("id")
            alertify.confirm("ATENÇÃO","Tem certeza que deseja apagar este Curso?",
                function () {
                    window.location.href = '@Url.Action("Delete")' + '?id=' + id;
                },
                function () { });
        });
</script>
}
