﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAluno.cshtml";
}



<div class="row">
    <div class="col-sm-12">
        <h5>Atenção</h5>
        <hr />
    </div>
    <div class="col-sm-12">
        <span> <i> De acordo com o capitulo VII da Resolução 057, de 17 de novembro de 2014:</i> <br />"O aluno terá o <b>prazo máximo de 90 dias após a conclusão do estágio</b> para apresentar a Ficha de Avaliação de Estágio pelo Supervisor, Ficha de Autoavaliação e o Relátorio de Estágio, devidanente assinados, na GEPPEX, <b>sob pena de perder a carga horária de Estágio.</b>"</span>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-12">
        <b>Dennys Fonseca de Souza</b> , seu prazo de desenvolvimento do relátorio de estágio se finaliza no dia 14 de novembro de 2018. <br />
        <b>Fique atento.</b>
    </div>
</div>
<hr />