﻿@model EmpresaVM
@{
    Layout = null;
}

<div class="row">
    <input type="hidden" asp-for="Id" />
    <div class="col-sm-6 col-12">
        <label>Nome:</label>
        <input type="text" class="form-control" asp-for="Nome" placeholder="Nome..." disabled />
        <span asp-validation-for="Nome"></span>
    </div>
    <div class="col-sm-6 col-12" id="row-matricula">
        <label>Razão Social:</label>
        <input type="text" class="form-control" asp-for="RazaoSocial" placeholder="Razão Social..."  disabled/>
        <span asp-validation-for="RazaoSocial"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-12">
        <label>CNPJ:</label>
        <input type="text" class="form-control" asp-for="CNPJ" placeholder="CNPJ..." disabled />
        <span asp-validation-for="CNPJ"></span>
    </div>
    <div class="col-sm-7 col-12">
        <label>Endereço:</label>
        <input type="text" class="form-control" asp-for="Endereco" placeholder="Endereço..." disabled />
        <span asp-validation-for="Endereco"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-4 col-12">
        <label>Telefone:</label>
        <input type="text" class="form-control" asp-for="Telefone" disabled />
        <span asp-validation-for="Telefone"></span>
    </div>
    <div class="col-sm-8 col-12">
        <label>Site:</label>
        <input type="text" class="form-control" asp-for="Site" placeholder="Não informado" disabled/>
        <span asp-validation-for="Site"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label>Área de Atuação:</label>
        <input type="text" asp-for="AreaAtuacao" class="form-control" placeholder="Área de atuação..." disabled />
        <span asp-validation-for="AreaAtuacao"></span>
    </div>
    <div class="col-sm-6">
        <label>Serviços:</label>
        <input type="text" asp-for="Servico" class="form-control" placeholder="Serviços..." disabled />
        <span asp-validation-for="Servico"></span>
    </div>
</div>

