﻿@model AlunoVM
@{
    Layout = null;
}
<div class="row">
    <input type="hidden" asp-for="Id" />
    <div class="col-sm-8 col-12">
        <label>Nome:</label>
        <input disabled type="text" class="form-control" asp-for="Nome" placeholder="Nome..."  />        
    </div>
    <div class="col-sm-4 col-12" id="row-matricula">
        <label>Matricula:</label>
        <input disabled type="number" class="form-control" asp-for="Matricula" placeholder="Matricula..." />
        <span asp-validation-for="Matricula"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-5 col-12">
        <label>Cidade:</label>
        <input  disabled type="text" class="form-control" asp-for="Cidade" placeholder="Cidade..." />
        <span asp-validation-for="Cidade"></span>
    </div>
    <div class="col-sm-7 col-12">
        <label>Endereço:</label>
        <input disabled type="text" class="form-control" asp-for="Endereco" placeholder="Endereço..." />
        <span asp-validation-for="Endereco"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-8 col-12">
        <label>Email:</label>
        <input disabled type="text" class="form-control" asp-for="Email" placeholder="Email..." />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="col-sm-4 col-12">
        <label>Telefone:</label>
        <input type="text" class="form-control" asp-for="Telefone" disabled />
        <span asp-validation-for="Telefone"></span>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <label>Curso:</label>
        <input type="text" asp-for="Curso" class="form-control" disabled/>        
    </div>
</div>