﻿@model ICollection<EstagiariosVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutOrientador.cshtml";
}

<div class="container">
    <table class="table table-sm table-hover table-bordered table-responsive-lg datatables  ">
        <thead class="thead-dark">
            <tr>
                <th>Nome</th>
                <th>Empresa</th>
                <th>Fase</th>
                <th width="15px">Informações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Nome</td>
                    <td>@item.Empresa</td>
                    <td>
                        <b>  @Html.Raw(item.Fase)  </b><br />
                        <b>  @Html.Raw(item.Previsao)  </b>
                    </td>
                    <td class="text-nowrap">
                        <button data-id="@item.AlunoId" data-nome="@item.Nome" data-toggle="tooltip" data-placement="left" title="Aluno" class="btn btn-dark estagiario"><i class="fa fa-eye"></i></button>
                        <button data-id="@item.EmpresaId" data-nome="@item.Empresa" data-toggle="tooltip" data-placement="left" title="Empresa" class="btn btn-dark empresa"><i class="fa fa-eye"></i></button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="modal-aluno" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="">Aluno: <span id="modal-title-aluno"></span> </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body-aluno">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i>  Fechar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="modal-empresa" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="">Empresa: <span id="modal-title-empresa"></span>      </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body-empresa">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-times-circle"></i>  Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $(".estagiario").click(function (response) {
                var id = $(this).data("id");
                var nome = $(this).data("nome");
                $.post('@Url.Action("AjaxEstagiario")', { "id": id }, function (response) {
                    $("#modal-body-aluno").html(response);
                    $("#modal-title-aluno").text(nome);
                    $("#modal-aluno").modal("show");
                });
            });

            $(".empresa").click(function (response) {
                var id = $(this).data("id");
                var nome = $(this).data("nome");
                $.post('@Url.Action("AjaxEmpresa")', { "id": id }, function (response) {
                    $("#modal-body-empresa").html(response);
                    $("#modal-title-empresa").text(nome);
                    $("#modal-empresa").modal("show");
                });
            });

        });

    </script>
}
